@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-url {
  background-image: url(./assets/svg/bgGrain.svg);
}
.bg-url-dark {
  background-image: url(./assets/svg/bgGrainDark.svg);
}

.grid-template {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  gap: 1rem;
}
@media screen and (max-width: 720px) {
  .grid-template {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)); gap: .5rem;
  }
}
@media screen and (max-width: 520px) {
  .grid-template {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); gap: .25rem;
  }
}

#root {
  background-color: #fafafa;
}

.removeScroll{
  height: 100%; 
  overflow: hidden; 
}